.hero__content {
  max-width: 616px;
  margin-top: 121px;
}

.hero__content-label {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1;
}

.hero__content-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  margin-top: 22px;
}

.hero__content-subtitle {
  color: var(--color-white);
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
}

.hero__content-link {
  color: var(--color-yellow);
  font-size: 16px;
  margin-top: 45px;
  font-family: var(--font-family-secondary);
  text-decoration: underline;
  display: inline-block;
}
